
$color-heading:       #0047b3;
$color-text:          #001433;
$color-main-contacts: #4c7eca;

$color-base-bg:       #e5ecf7;
$color-content-bg:    #fff;

$color-shadow:        rgba(20, 22, 34, .08);
