button {
  float: right;
  width: 16rem;
  height: 3rem;
  margin: 2rem 0 0;
  border: solid 1px $color-heading;
  border-radius: 2rem;
  background: $color-content-bg;
  color: $color-heading;
  font-family: $title-font-name;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.5;
  transition: all .3s linear;

  &:hover {
    background: $color-heading;
    color: $color-content-bg;
  }

  &:focus {
    outline: none;
  }
}

.btn-up {
  position: fixed;
  display: none;
  right: calc(3.125% + 1rem);
  bottom: 2rem;
  width: 3rem;
  height: 3rem;
  background-image: url('../img/btn-up.svg');
  background-size: cover;
  cursor: pointer;
}

@media (min-width: $small-screen) {
  button {
    position: absolute;
    bottom: 0;
    float: none;
    margin: 0 2rem 2rem;
    transition: all .5s;
  }

  .left-button {
    right: 20rem;
  }

  .right-button,
  .left-button.offset {
    right: 0;
  }
}

@media (min-width: $medium-screen) {
  button {
    position: absolute;
    bottom: 0;
    float: none;
    height: 4rem;
    margin: 0 2rem 2rem;
    transition: all .5s;
  }

  .left-button {
    right: 23.6rem;
  }

  .right-button,
  .left-button.offset {
    right: 0;
  }

  .btn-up {
    right: calc(9.57% - 5rem);
    bottom: 6.8rem;
  }
}

@media (min-width: $large-screen) {
  button {
    margin: 0 3rem 3rem;
  }

  .left-button {
    right: 29rem;
  }

  .btn-up {
    right: calc(50% - 45rem);
    bottom: 7.8rem;
  }
}
