.content {
  margin: 0 0 2rem;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .image {
    order: 1;
    width: 100%;
  }
}

h1 {
  margin: 4rem 2rem 1rem;
}

h2 {
  margin: 0 2rem 4rem;
}

.heading-section {
  display: flex;
  align-items: start;
  margin: 2rem 2rem 1.5rem;

  h3 {
    margin: 0 0 0 1.5rem;
    letter-spacing: -.01rem;
  }
}

.content-text {
  margin-bottom: 2rem;
  line-height: 1.5;

  ul {
    margin: 0 2rem 1.5rem;
    padding-left: 0;
    list-style-position: inside;
  }

  h4 {
    margin: 1.5rem 2rem 0;
  }

  p {
    margin: 0 2rem;
  }

  div {
    p {
      margin-bottom: 1.5rem;
    }
  }

  h4:first-child {
    margin-top: 0;
  }
}

.content-home-page {
  h4,
  span {
    color: $color-heading;
  }

  h4 {
    font-weight: normal;
  }
}

.content-dermatology,
.content-cosmetology {
  h3 {
    margin: 2rem 2rem 1rem;
  }
}

.video {
  margin: 2rem 0 1rem;
}

.video {
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
}

.video iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

.wrap-image {
  position: relative;
  order: 1;
  height: 0;
  overflow: hidden;

  .image {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.content-dermatology {
  .wrap-image {
    padding-bottom: 100%;
  }
}

.content-cosmetology {
  .wrap-image {
    padding-bottom: 93.333%;
  }

  .hidden {
    .wrap-image {
      display: none;
    }
  }

  .without-indent {
    margin-bottom: 0;
  }
}

@media (min-width: $small-screen) {
  .content {
    display: block;

    .image {
      width: 32.2%;
      height: auto;
      float: right;
    }
  }

  .main-title {
    background: {
      image: url(../img/lines.svg);
      repeat: no-repeat;
      position: 67% 0;
    };
  }

  h1 {
    margin: 12% 2rem 3%;
    font-size: 3.4rem;
  }

  h2 {
    font-size: 2rem;
  }
}

@media (min-width: $medium-screen) {
  h1 {
    margin: 11.272% 0 2.415% 2rem;  // margin: 13% 0 2.415% 2rem; было бы лучше при ширине 1023px
    font-size: 3.8rem;
    line-height: 1.21;
  }

  h2 {
    font-size: 2rem;
    line-height: 1.4;
  }

  .content-dermatology {
    .wrap-image {
      padding-bottom: 31rem;

      .image {
        width: 108.06%;
      }
    }
  }

  .content-cosmetology {
    .wrap-image {
      padding-bottom: 28rem;

      .image {
        width: auto;
      }
    }
  }

  .content-dermatology,
  .content-cosmetology {
    position: relative;

    .wrap-image {
      width: 23.6rem;
      transition: all .5s;

      .image {
        margin: 0 -4.03%;
      }
    }

    .fl-right {
      float: right;
      margin-left: 2rem;
    }

    .fl-left {
      float: left;
      margin-right: 2rem;
    }

    .hidden-content-open {
      padding-bottom: 23.6rem;
    }
  }

  .hidden {
    padding-bottom: 4.5rem;
  }

   .visible-block {
    max-height: 20rem;
    overflow: hidden;
   }
}

@media (min-width: $large-screen) {
  .content {
    margin: 0 0 3rem;
  }

  h1 {
    margin: 11rem 3rem 1.5rem;
    font-size: 4.6rem;
    line-height: 1.17;
  }

  h2 {
    margin: 0 3rem;
    font-size: 2.4rem;
    line-height: 1.33;
  }

  .heading-section {
    margin: 3rem 3rem 1.5rem;
  }

  .content-text {
    margin: 0 3rem 3rem;
  }

  .content-dermatology,
  .content-cosmetology {
    .wrap-image {
      width: 25.5rem;

      .image {
        // margin: 0;
      }
    }
  }

  .content-dermatology {
    .wrap-image {
      .image {
        width: 100%;
        margin: 0;
      }
    }
  }

  .content-img-left,
  .content-img-right {
    background-image: url(../img/lines.svg);
    background-repeat: no-repeat;
  }

  .content-img-left {
    background-position-x: 25.5rem;
  }

  .content-img-right {
    background-position-x: 49.7rem;
  }
}