.content {
  margin: 0 0 2rem;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .image {
    order: 1;
    width: calc(100% + 4rem);
    margin: 0 -2rem -2rem;
  }
}

h1 {
  margin: 2rem 0 1rem;
}

h2 {
  margin: 0 0 4rem;
}

.heading-section {
  display: flex;
  align-items: start;
  margin-bottom: 1.5rem;

  h3 {
    margin: 0 0 0 1.5rem;
    letter-spacing: -.01rem;
  }
}

.content-text {
  line-height: 1.5;

  ul {
    margin: 0 0 1rem;
    padding-left: 0;
    list-style-position: inside;
  }

  h4 {
    margin: 1.5rem 0 0;
  }

  p {
    margin: 0;
  }

  div {
    p {
      margin-top: 1rem;
    }
  }

  h4:first-child {
    margin-top: 0;
  }
}

.content-home-page {
  h4,
  span {
    color: $color-heading;
    white-space: nowrap;
  }

  h4 {
    font-weight: normal;
  }
}

.content-dermatology,
.content-cosmetology {
  h3 {
    margin: 0;
  }
}

.video {
  height: 0;
  width: calc(100% + 4rem);
  position: relative;
  padding-bottom: calc(56.25% + 2.25rem);
  margin: 2rem -2rem 0;
}

.video iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

.wrap-image {
  position: relative;
  order: 1;
  height: 0;
  margin: 2rem -2rem -2rem;
  overflow: hidden;

  .image {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.content-dermatology {
  .wrap-image {
    padding-bottom: calc(100% + 4rem);
  }
}

.content-cosmetology {
  .wrap-image {
    padding-bottom: calc(93.333% + 3.7333rem);
  }

  .hidden {
    .wrap-image {
      display: none;
    }
  }

  .without-indent {
    margin: 0;
  }

  .with-indent {
    margin-top: 2rem;
  }
}

@media (min-width: $small-screen) {
  .content {
    display: block;

    .image {
      width: 34.42%;
      margin: -2rem;
      height: auto;
      float: right;
    }
  }

  .main-title {
    background: {
      image: url(../img/lines.svg);
      repeat: no-repeat;
      position: 67% 0;
    };
  }

  h1 {
    margin: 9% 0 2%;
    font-size: 3.4rem;
  }

  h2 {
    font-size: 2rem;
    margin: 0;
  }

  .visible-block {
      max-height: 18rem;
      overflow: hidden;
    }

  .content-dermatology {
    .wrap-image {
      padding-bottom: 26.2rem;

      .image {
        width: 108.06%;
        margin: 0 -4.03%;
      }
    }
  }

  .content-cosmetology {
    .hidden {
      .wrap-image {
        display: block;
        float: left;
        margin: 3rem 2rem 1rem -2rem;
        padding-bottom: 23.6rem;
      }

      h3 {
        margin-top: 3rem;
      }
    }

    .wrap-image {
      padding-bottom: 28rem;

      .image {
        width: 150%;
        margin: 0 -17%;
      }
    }
  }

  .content-dermatology,
  .content-cosmetology {
    position: relative;

    .wrap-image {
      width: 20rem;
      transition: all .5s;

      &.hidden-content-open {
        padding-bottom: 23.6rem;
        margin-bottom: 1rem;
      }
    }

    .fl-right {
      float: right;
      margin: -2rem -2rem -2rem 2rem;
    }

    .fl-left {
      float: left;
      margin: -2rem 2rem -2rem -2rem;
    }
  }

  .hidden {
    padding-bottom: 5rem;
  }
}

@media (min-width: $medium-screen) {
  h1 {
    margin: 8.60% 0 2.58%;  // margin: 10% 0 4%; было бы лучше при ширине 1023px
    font-size: 3.8rem;
    line-height: 1.21;
  }

  h2 {
    line-height: 1.4;
  }

  .content-text {
    ul {
      margin-bottom: 1.5rem;
    }
  }

  .content-dermatology {
    .wrap-image {
      padding-bottom: 31rem;
    }
  }

  .content-cosmetology {
    .wrap-image {
      padding-bottom: 28rem;

      .image {
        width: 127.3%;
      }
    }

    .visible-block {
      max-height: 16.5rem;
    }
  }

  .content-dermatology,
  .content-cosmetology {
    .wrap-image {
      width: 23.6rem;

      .image {
        margin: 0 -4.03%;
      }
    }
  }

  .hidden {
    padding-bottom: 6rem;
  }

  .video {
    width: 100%;
    margin: 2rem 0 0;
    padding-bottom: 56.25%;
  }
}

@media (min-width: $large-screen) {
  .content {
    margin: 0 0 3rem;
    padding: 3rem;

    .image {
      width: 25.5rem;
      height: 35.5rem;
      margin: -3rem;
    }
  }

  h1 {
    margin: 8rem 0 1.5rem;
    font-size: 4.6rem;
    line-height: 1.17;
  }

  h2 {
    font-size: 2.4rem;
    line-height: 1.33;
  }

  .content-dermatology,
  .content-cosmetology {
    .wrap-image {
      width: 25.5rem;

      &.hidden-content-open {
        padding-bottom: 25.5rem;
      }

      .image {
        margin: 0;
      }
    }

    .fl-right {
      margin: -3rem -3rem -3rem 6.5rem;
    }

    .fl-left {
      margin: -3rem 6.5rem -3rem -3rem;
    }
  }

  .content-dermatology {
    .wrap-image {
      padding-bottom: 31rem;

      .image {
        width: 100%;
        height: auto;
        margin: 0;
      }
    }
  }

  .content-cosmetology {
    .wrap-image {
      padding-bottom: 28rem;

      .image {
        width: 117.65%;
        height: auto;
      }
    }

    .hidden {
      .wrap-image {
        margin: 3rem 6.5rem 1rem -3rem;
        padding-bottom: 25.5rem;
      }
    }

    .wrap-wrap-image {
      float: left;
      background-image: url(../img/lines.svg);
      background-repeat: no-repeat;
      background-position: 22.5rem 3rem;
    }
  }

  .content-img-left,
  .content-img-right {
    background-image: url(../img/lines.svg);
    background-repeat: no-repeat;
  }

  .content-img-left {
    background-position-x: 25.5rem;
  }

  .content-img-right {
    background-position-x: 49.7rem;
  }
}
