.header {
  height: 6rem;
  padding: 1.5rem 0;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu {
    position: absolute;
    display: flex;
    top: 0;
    left: -200vw;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    padding: 10rem 5rem 4rem 6.3rem;
    transition: left .2s linear;
    z-index: 1;

    &.open {
      left: 0;
    }
  }

  .nav {
    margin-top: 2rem;

    li {
      margin-bottom: 3rem;
      padding-top: .2rem;
      padding-left: .9rem;
      text-transform: uppercase;
    }
  }

  .activ {
    border-left: .2rem solid $color-heading;

    a {
      color: $color-heading;
    }
  }
}

@media (min-width: $medium-screen) {
  .header {
    .menu {
      position: static;
      width: auto;
      height: auto;
      padding: 0;
    }

    .nav {
      display: flex;
      margin: 0;

      li {
        position: relative;
        margin: 0 0 0 2rem;
        padding-left: 0;
        letter-spacing: 1px;

        &::after {
          position: absolute;
          content: '';
          display: block;
          left: 0;
          bottom: -.8rem;
          width: 0;
          height: .1rem;
          background-color: $color-text;
          transition: all .2s;
        }

        &:hover::after {
          width: 100%;
        }

        &.activ::after {
          width: 100%;
          background-color: $color-heading;
        }
      }
    }
    
    .activ {
      border-left: 0;
    }

    .close-button {
      display: none;
    }
  }

  .hamburger {
    display: none;
  }
}

@media (min-width: $large-screen) {
  .header {
    margin-bottom: 3rem;
    padding: 1rem 0;

    .wrapper {
      width: 94rem;
    }
    
    .menu {
      flex-direction: row;
    }
  }

  .logo {
    img {
      height: 4rem;
    }
  }
}
