
// Base style (tag only)

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 14.4rem;
  background: $color-base-bg;
  background-image: url('../img/bg-lines.png');
  background-size: 54.9rem;
  background-position-y: 20rem;
}

a {
  text-decoration: none;
}

img {
  height: auto;
  vertical-align: middle;
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

@media (min-width: $medium-screen) {
  body {
    background-position-y: 6rem;
    background-size: auto;
  }
}

@media (min-width: $large-screen) {
  body {
    background-position-x: 4rem;
    background-position-y: 0;
  }
}