
// Base style (tag only)

* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background: $color-base-bg;
  margin-bottom: 14.4rem;
}

a {
  text-decoration: none;
}

img {
  height: auto;
  vertical-align: middle;
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

@media (min-width: $medium-screen) {
  body {
    margin-bottom: 4.8rem;
  }
}